.lhLogo {
    position: relative;
    left:0;
    right:0;
    animation-direction: alternate;
}

.lhLogo:hover {
    animation: skew 2s alternate-reverse;
}

@keyframes skew {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(1800deg);
        filter: blur(1px) saturate(2);
    }
  }

  .animation {
      display: flex;
      justify-content: space-between;
      margin: 6em;
      height: 20em;
      width: 100%;
      background-color: rgba(0, 0, 139, 0.541);
  }

  .verticalLine {
      height: 90%;
      border-left: 5px solid black;
      position: relative;
      top: 0em;
      left: 0em;
      padding: 1em;
      transform-origin: 0;
      /* transform: rotate(180deg); */
      animation: alter 1s infinite;
      animation-direction: alternate;
  }

  .diagonalLine {
      width: 6em;
      height: 50%;
      top: 0;
      position: relative;
      border-top: 2px solid black;
      left: 7em;
      transform-origin: 0;
      /* animation: alter 1ms infinite; */
      animation-direction: alternate;
      transform: rotate(72deg);
  }

  @keyframes alter {
      0% {
          transform: rotate(32deg);
          border-left: 5px solid black;
      }
      100% {
          transform: translateX(1em) rotate(32deg);
          border-left: 8px solid crimson;
      }
  }

  .mainPic {
    margin-top: 5em;
    height: 20em;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.51);
    animation: skew 2s alternate-reverse;
}

.mainPic:hover {
    filter: blur(4px) saturate(2);
}