body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(to right, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
}

.mainhead {
    background-color: rgb(179, 179, 214);
    padding: 20px;
    font-family: Lobster;
    font-size: 82px;
    color: white;
    padding: 30px;
    margin: 0;
    height: 100px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    text-align: center;
}

.blackback {
    background-color: black;
}

.navBar {
    display: flex;
    background-color: whitesmoke;
    border: 2px solid black;
    position: fixed;
    border-radius: 3px;
    z-index: 2;
    width: 100%;
    height: 3em;
    align-items: center;
}

.navIcon {
    color: rgba(0, 0, 0, 0.61);
    font-family: 'Titillium Web', sans-serif;
    font: bold;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
}

.mainPageFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPic {
    margin-top: 5em;
    height: 20em;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.51);
}

.introduction {
    text-align: center;
}

.introText {
    font-family: Do Hyeon;
    font-size: 2em;
    margin-top: 1em;
    text-shadow:
		-1px -1px 0 rgb(221, 218, 218),
		1px -1px 0 rgb(221, 218, 218),
		-1px 1px 0 rgb(221, 218, 218),
        1px 1px 0 rgb(221, 218, 218);
}

.iconFlex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-top: 1em;
}

.menuBoxContent {
    display: flex;
    position: fixed;
    flex-direction: column;
    text-align: center;
    top: 2.5em;
    left: 0;
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    width: 20em;
    height: 30em;
    visibility: show;
}

.menuVisible{
    visibility: show;
}