html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(to right, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);
}

.mainhead {
    background-color: rgb(179, 179, 214);
    padding: 20px;
    font-family: Lobster;
    font-size: 82px;
    color: white;
    padding: 30px;
    margin: 0;
    height: 100px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    text-align: center;
}

.mainContent {
    min-height: 100vh;
    width: 100%;
}

.navBar {
    display: flex;
    background-color: whitesmoke;
    border: 2px solid black;
    position: fixed;
    border-radius: 3px;
    z-index: 2;
    width: 100%;
    height: 3em;
    align-items: center;
}

.navIcon {
    color: rgba(0, 0, 0, 0.61);
    font-family: 'Titillium Web', sans-serif;
    font: bold;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    cursor: pointer;
}

.mainPageFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction {
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-image: url(images/skyline.jpg);
    width: 100%;
    min-height: 100vh;
}

.introText {
    font-family: Do Hyeon;
    background-image: url(images/strip.png);
    opacity: .9;
    background-size: cover;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    color: red;
    padding: .5em;
    font-size: 2em;
    margin-top: 1em;
    text-shadow:
		-1px -1px 0 rgb(0, 0, 0),
		1px -1px 0 rgb(0, 0, 0),
		-1px 1px 0 rgb(0, 0, 0),
        1px 1px 0 rgb(0, 0, 0);
}

.iconFlex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-top: 1em;
}

.modalFullScreen {
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100%
}

.menuBoxContent {
    display: flex;
    position: fixed;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    top: 3.2em;
    left: 0;
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    width: 10em;
    max-height: 20em;
    visibility: hidden;
    transform: scale(.01);
    opacity: 0;
    overflow-y: hidden;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(5, 2, 1.5, 3);
    transform-origin: 2.5em;
}

.menuVisible{
    opacity:.8;
    visibility: visible;
    transform: scale(1.0);
}
    /* transition: visibility 0s linear .2s, opacity 0.25s 0s, transform 1s;
} */

.menuItem {
    padding: 1em;
    border: 1px solid black;
}

.innerIconFlex {
    flex-basis: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: .3em;
    border: 3px solid black;
    border-radius: 4px;
    background: linear-gradient(to right, rgb(230, 64, 64) 0%,rgb(235, 2, 2) 31%,rgba(222,23,52,1) 100%);
}

